html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  background-color: black;
}
#stream{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:300px;
  
}
